@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #0f1644;
  --orange: #b56422;
  --teal: #096191;
}

body {
  color: #0f1644;
  background: #0f1644;
  font-family: "Inter", sans-serif;
}

.input-cream {
  color: #ebd8ae !important;
}

.input-cream::placeholder {
  color: rgba(235, 216, 174, 0.4) !important;
}
